*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
packages.config
#intelliji specific files
*.iml
*.xml

bin
obj
packages
Assets
Properties
Resources
project.*
package.*
SocialHabits.UWP_TemporaryKey.pfx
SocialHabits.UWP.nuget.targets

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*